@model Joygame.Joystore.WebApp.Models.Login.ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Forgot Password</h2>
<hr />
<form asp-action="ForgotPassword" method="post">

    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
